In [1]:
import pandas as pd
import numpy as np

In [2]:
energy_df = pd.read_csv('energydata_complete.csv')

In [3]:
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
column_names = {'T1':'KitchenTemperature(c)', 'RH_1': 'KitchenHumidity(%)', 
                'T2':  'LivingRoomTemperature(c)', 'RH_2': 'LivingRoomHumidity(%)', 'T3': 'LaundryRoomTemperature(c)',
                'RH_3': 'LaundryRoomHumidity(%)', 'T4': 'OfficeRoomTemperature(c)', 'RH_4': 'OfficeHumidity(%)',
                'T5': 'BathRoomTemperature(c)', 'RH_5': 'BathroomHumidity(%)', 'T6':'TemperatureOutsideBuilding(c)', 
                'RH_6': 'HumidityOutsideBuilding(%)','T7':'IroningRoomTemperature(c)', 'RH_7':'IroningRoomHumidity', 
                'T8':'TeenagerRoomTemperature(c)', 'RH_8':'TeenagerRoomHumidity(%)', 'T9':'ParentsRoomTemperature(c)', 'RH_9':
                'ParentsRoomHumidity(%)', 'To':'TemperatureOutside(c)', 'RH_out':'HumidityOutside'}


energy_df = energy_df.rename(columns=column_names)

In [7]:
energy_df.sample(10)

,date,Appliances,lights,KitchenTemperature(c),KitchenHumidity(%),LivingRoomTemperature(c),LivingRoomHumidity(%),LaundryRoomTemperature(c),LaundryRoomHumidity(%),OfficeRoomTemperature(c),...,ParentsRoomTemperature(c),ParentsRoomHumidity(%),T_out,Press_mm_hg,HumidityOutside,Windspeed,Visibility,Tdewpoint,rv1,rv2
14647,2016-04-22 10:10:00,320,20,22.323333,38.590000,21.856667,36.900000,24.763333,37.826667,23.057143,...,20.463333,38.133333,10.433333,759.883333,66.833333,4.166667,28.833333,4.500000,17.688572,17.688572
5498,2016-02-18 21:20:00,90,0,20.926667,35.863333,19.697500,36.267500,20.060000,36.460000,20.230000,...,17.290000,35.400000,1.233333,757.333333,95.666667,2.000000,55.333333,0.600000,7.630270,7.630270
5046,2016-02-15 18:00:00,100,20,20.600000,36.700000,19.200000,36.590000,20.790000,36.966667,18.890000,...,18.200000,41.730000,3.600000,763.700000,72.000000,4.000000,40.000000,-1.000000,27.425096,27.425096
5267,2016-02-17 06:50:00,50,0,20.200000,35.400000,17.700000,37.163333,20.600000,38.530000,18.700000,...,18.100000,39.933333,-4.150000,764.216667,87.166667,1.166667,56.666667,-5.950000,40.386350,40.386350
2325,2016-01-27 20:30:00,30,0,19.290000,46.590000,18.600000,46.500000,19.790000,45.200000,18.290000,...,17.000000,48.790000,9.600000,755.000000,93.500000,8.500000,43.000000,8.550000,2.327381,2.327381
15871,2016-04-30 22:10:00,70,0,21.390000,38.126667,18.926667,40.590000,23.200000,35.900000,19.890000,...,19.200000,37.030000,6.400000,762.716667,76.166667,3.833333,40.000000,2.500000,6.956028,6.956028
6339,2016-02-24 17:30:00,80,0,21.100000,37.290000,19.700000,37.090000,20.790000,37.826667,20.290000,...,18.405714,39.897143,5.400000,756.000000,67.000000,1.500000,40.000000,-0.450000,44.124030,44.124030
5482,2016-02-18 18:40:00,440,0,20.100000,34.900000,18.700000,35.500000,19.790000,35.700000,18.390000,...,17.421429,35.121429,2.266667,756.733333,87.333333,2.666667,22.666667,0.333333,12.352580,12.352580
10319,2016-03-23 08:50:00,60,0,21.600000,39.700000,18.890000,43.826667,22.100000,37.933333,21.200000,...,19.760000,41.090000,6.383333,756.183333,93.666667,2.166667,56.833333,5.466667,23.270106,23.270106
10378,2016-03-23 18:40:00,100,10,21.633333,39.433333,19.700000,40.463333,21.700000,37.260000,20.500000,...,19.500000,37.826667,8.200000,756.100000,82.000000,3.000000,40.000000,5.300000,3.946872,3.946872

In [9]:
energy_df= energy_df.drop(["date", "lights"], axis=1)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
energy_df = pd.DataFrame(scaler.fit_transform(energy_df), columns=energy_df.columns)

In [15]:
x = energy_df.drop(["Appliances"], axis=1)
y = energy_df["Appliances"]

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [27]:
X = energy_df["LivingRoomTemperature(c)"].values
Y = energy_df["TemperatureOutsideBuilding(c)"].values
X = X.reshape(-1, 1)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
model = LinearRegression()
model.fit(X_train,Y_train)
preds = model.predict(X_test)

In [28]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, preds)
round(mae, 3)

0.332

In [29]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, preds)
round(r2_score, 3)

-13.578

In [32]:
import numpy as np
rss = np.sum(np.square(y_test - preds))
round(rss, 3)

776.734

In [34]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, preds))
round(rmse, 3)

0.362

In [59]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
model_reg = LinearRegression()
model_reg.fit(x_train, y_train)

def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_reg = get_weights_df(model_reg, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_reg, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')